<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongguoyingshiwang.www">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".app.MyApp"
        android:theme="@style/AppTheme">
        <!--**********************Activity************************-->
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.GuideActivity"/>
        <activity android:name=".activity.LoginActivity" android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>
        <activity android:name=".activity.RegisteredActivity" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.personal.AccountActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.personal.CachingActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.personal.CollectionActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.personal.HelpActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.personal.HistoryActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.personal.PasswordActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.personal.SettingActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.personal.VoteActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.personal.WalletActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.RecycleActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.ImageActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.IdiomStoryActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.HealthActivity" android:theme="@style/otherPageStyle"> </activity>

        <activity android:name=".activity.AgreementActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.ArtistProfileSubmitActivity" android:theme="@style/otherPageStyle"> </activity>
        <activity android:name=".activity.BindPhoneActivity" android:theme="@style/otherPageStyle"/>
        <activity android:name=".activity.VerifyPhoneActivity" android:theme="@style/otherPageStyle"/>
        <activity android:name=".activity.ResetPasswordActivity" android:theme="@style/otherPageStyle"/>
        <activity android:name=".activity.CrowdDetailsActivity" android:theme="@style/otherPageStyle"/>
        <activity android:name=".activity.InvestmentActivity" android:theme="@style/otherPageStyle"/>


        <activity android:name=".activity.RegisteredNextActivity" />
        <activity android:name=".activity.video.SkinActivity"
            android:configChanges="orientation|keyboard|locale|screenSize|layoutDirection"
            android:label="@string/full_ui_player_demo"
            android:screenOrientation="portrait"/>

        <!--**********************Service************************-->
        <service android:name="com.yaoxiaowen.download.service.DownloadService"/>

    </application>

</manifest>